# Created by .ignore support plugin (hsz.mobi)
/.idea
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/libraries/
/.idea/artifacts/
/.idea/artifacts/bmi_web_war_exploded.xml
